---
import Layout from '../../layouts/Layout.astro';
import MasonryGallery from '../../components/gallery/MasonryGallery.astro';

const images = [
  { src: '/assets/day-3/img1.webp', alt: 'Hero picture' },
  { src: '/assets/day-3/img2.webp', alt: 'Hero picture' },
  { src: '/assets/day-3/img3.webp', alt: 'Hero picture' },
  { src: '/assets/day-3/img4.webp', alt: 'Hero picture' },
  { src: '/assets/day-3/img5.webp', alt: 'Hero picture' },
  { src: '/assets/day-3/img6.webp', alt: 'Hero picture' },
  { src: '/assets/day-3/img7.webp', alt: 'Hero picture' },
  { src: '/assets/day-3/img8.webp', alt: 'Hero picture' },
];
---

<Layout description="Fashion Walk" title="Gallery · Affest">
  <div class="mx-auto max-w-3xl">
    <section class="py-16 sm:py-20">
      <div class="mx-auto max-w-2xl px-4 text-center sm:px-6 lg:max-w-7xl lg:px-8">
        <div class="flex flex-col gap-4 sm:gap-6">
          <h1 class="text-4xl font-medium tracking-tight sm:text-5xl lg:text-6xl">Gallery</h1>
        </div>
      </div>
    </section>
  </div>

  <MasonryGallery images={images} />
</Layout>
