---
import Layout from '../../layouts/Layout.astro';
import MasonryGallery from '../../components/gallery/MasonryGallery.astro';

const images = [
  {
    src: '/assets/gallery/fashion-walk/1.jpg',
    alt: 'Hero picture',
    title: 'First Image',
  },
  { src: '/assets/gallery/fashion-walk/2.jpg', alt: 'Hero picture' },
  { src: '/assets/gallery/fashion-walk/3.jpg', alt: 'Hero picture' },
  { src: '/assets/gallery/fashion-walk/4.jpg', alt: 'Hero picture' },
  { src: '/assets/gallery/fashion-walk/5.jpg', alt: 'Hero picture' },
  { src: '/assets/gallery/fashion-walk/6.jpg', alt: 'Hero picture' },
  { src: '/assets/gallery/fashion-walk/7.jpg', alt: 'Hero picture' },
  { src: '/assets/gallery/fashion-walk/8.jpg', alt: 'Hero picture' },
  { src: '/assets/gallery/fashion-walk/9.jpg', alt: 'Hero picture' },
  { src: '/assets/gallery/fashion-walk/10.jpg', alt: 'Hero picture' },
  { src: '/assets/gallery/fashion-walk/11.jpg', alt: 'Hero picture' },
  { src: '/assets/gallery/fashion-walk/12.jpg', alt: 'Hero picture' },
  { src: '/assets/gallery/fashion-walk/13.jpg', alt: 'Hero picture' },
  { src: '/assets/gallery/fashion-walk/14.jpg', alt: 'Hero picture' },
  { src: '/assets/gallery/fashion-walk/15.jpg', alt: 'Hero picture' },
];
---

<Layout description="Fashion Walk" title="Gallery · Affest">
  <div class="mx-auto max-w-3xl">
    <section class="py-16 sm:py-20">
      <div class="mx-auto max-w-2xl px-4 text-center sm:px-6 lg:max-w-7xl lg:px-8">
        <div class="flex flex-col gap-4 sm:gap-6">
          <h1 class="text-4xl font-medium tracking-tight sm:text-5xl lg:text-6xl">Gallery</h1>
          <!-- <p
            class="mx-auto max-w-xl text-lg text-primary-950/70 sm:text-xl"
          >
            We build products for developers and designers.
          </p> -->
        </div>
      </div>
    </section>
  </div>

  <MasonryGallery images={images} />
</Layout>
