<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="space-y-6">
      <p class="text-base text-primary-950/70 sm:text-xl">
        Arewa Fashion and Food Festival (AFFEST) is a celebration of the vibrant culture, heritage,
        food, and fashion of Northern Nigeria. We are redefining the narrative often associated with
        the region—moving beyond stereotypes of insecurity and underdevelopment to showcase the
        richness, diversity, and vibrancy of its people. Through AFFEST, we aim to tell Northern
        Nigeria's story from an authentic perspective, inviting the world to see, hear, and
        experience the beauty that often goes unnoticed.
      </p>
      <p class="text-base text-primary-950/70 sm:text-xl">
        Registered as a company limited by guarantee with the Corporate Affairs Commission, AFFEST
        operates from its official office at No. 2A Abdullahi Yaro House, off Ali Akilu Road,
        Kaduna. As an initiative of Women Aware of Rights Initiative Nigeria, the festival is
        powered by the support of visionary partners who believe in our mission to change
        perceptions and inspire new possibilities.
      </p>
      <p class="text-base text-primary-950/70 sm:text-xl">
        Our journey began with the inaugural AFFEST, where we reintroduced the region to itself and
        the world. The festival opened with a visit to the royal palace of the Zazzau Emirate, where
        we explored history, tradition, and possibilities for the future with nearly 100 attendees.
        The following days unfolded with an engaging food exhibition and an electric fashion show
        that showcased the creative talents of eight designers—some seasoned veterans and others
        stepping onto the runway for the first time.
      </p>
      <p class="text-base text-primary-950/70 sm:text-xl">
        Over 300 fashion lovers gathered to witness the runway spectacle, while more than 500
        attendees indulged in the culinary diversity of Arewa. In total, we connected with over a
        thousand participants during the event, surpassing our expectations for the first edition.
      </p>
      <p class="text-base text-primary-950/70 sm:text-xl">
        With last year's success fueling our momentum, we are excited to take AFFEST to new heights.
        Join us on this journey as we celebrate Northern Nigeria's beauty, culture, and
        potential—one story, one dish, and one design at a time.
      </p>
    </div>
    <div class="pt-16">
      <img
        class="mx-auto h-auto w-full max-w-3xl rounded-3xl"
        src="/assets/affest/7.png"
        alt="Our experts working together"
      />
    </div>
    <div class="grid gap-16 pt-16 lg:grid-cols-2 lg:gap-24">
      <div class="flex flex-col gap-10">
        <!-- Mission description -->
        <div class="space-y-8 sm:space-y-12">
          <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Our mission</h2>
          <div class="space-y-6">
            <p class="text-base text-primary-950/70 sm:text-xl">
              Our mission is to reveal Northern Nigeria as a place where just as much happens as
              anywhere else in Nigeria. We aim to bring to the forefront street talents to tell
              their stories to the world through their designs and culinary; alongside world-class
              professionals. We want to travel Northern Nigeria and spotlight the historical
              evolution of food and fashion; with in-depth research and talent shows, events and
              program that limelight the path to the true Arewa.
            </p>
          </div>
        </div>

        <!-- Stats -->
        <!-- <dl class="grid grid-cols-1 gap-6 sm:grid-cols-2">
          {
            stats.map((stat) => (
              <div class="rounded-3xl border border-primary-900/10 p-6 dark:border-primary-300/10">
                <dt class="text-base">{stat.name}</dt>
                <dd class="text-3xl font-medium tracking-tight">{stat.value}</dd>
              </div>
            ))
          }
        </dl> -->
      </div>
    </div>
  </div>
</section>
