---
import About from '../components/home/About.astro';
import Cta from '../components/home/Cta.astro';
import Hero from '../components/home/Hero.astro';
import Services from '../components/home/Services.astro';
import Testimonials from '../components/home/Testimonials.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout
  description="Redefining the Northern narrative often associated with the region—moving beyond stereotypes of insecurity and underdevelopment to showcase the richness, diversity, and vibrancy of its people."
  title="Affest · Fashion & Food Festival"
>
  <div class="bg-green-300">
    <div class="mx-auto flex max-w-7xl flex-col items-center gap-6 p-6 md:flex-row">
      <img class="w-40" src="/assets/affest/1.png" />
      <div class="text-center">
        <p class="sm:text-xl">
          A Tribute to Wagambari! Join us for the second edition of our festival as we highlight the
          beauty of the Northern heritage in our food and fashion! Stay with us these 2 days as we
          relive our passionate and eccentric history, bringing our people together, keeping them
          together and elegantly adorning the North in style and taste once more!
        </p>
        <a
          target="_blank"
          href="https://tix.africa/the-arewa-fashion-and-food-festival-1ae50328-9337-49f0-bed1-568c4124fc2a"
          class="mt-4 inline-flex items-center justify-center rounded-full border border-transparent bg-green-600 px-5 py-3 text-base font-medium text-white transition hover:bg-green-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600"
        >
          Register
        </a>
      </div>
    </div>
  </div>
  <Hero />
  <Services />
  <About />

  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <h2 class="mx-auto max-w-xl pb-6 text-center text-3xl font-medium tracking-tight sm:text-4xl">
      Gallery
    </h2>
    <section class="justify- mx-auto grid max-w-7xl gap-6 px-5 sm:grid-cols-3 xl:px-0">
      <a href="/gallery/first">
        <img class="h-80 w-full" src="/assets/gallery/durbar/img1.jpg" alt="Hero picture" />
      </a>
      <a href="/gallery/second">
        <img class="h-80 w-full" src="/assets/affest/17.jpeg" alt="Hero picture" />
      </a>
      <div>
        <img class="h-80 w-full" src="/assets/affest.jpg" alt="Hero picture" />
      </div>
    </section>
    <a
      href="/gallery"
      class="mt-4 inline-flex items-center justify-center rounded-full border border-transparent bg-green-600 px-5 py-3 text-base font-medium text-white transition hover:bg-green-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600"
    >
      View more
    </a>
  </div>
</Layout>
