<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-16">
      <img
        class="h-auto w-full rounded-xl"
        width="1280"
        height="640"
        src="/assets/affest/8.png"
        alt="Hero picture"
      />
      <div class="flex flex-col items-start gap-8 sm:gap-10">
        <div class="flex max-w-xl flex-col items-start gap-4 sm:gap-6">
          <h1 class="text-4xl font-medium tracking-tight sm:text-5xl lg:text-6xl">
            We tell the story of the North.
          </h1>
          <p class="text-lg text-primary-950/70 dark:text-primary-200/70 sm:text-xl">
            From the perspective of the people who live there. We make room for the world to listen
            and hear its truth, unﬁltered.
          </p>
        </div>
        <a
          href="/pricing"
          class="mt-4 inline-flex items-center justify-center rounded-full border border-transparent bg-green-600 px-5 py-3 text-base font-medium text-white transition hover:bg-green-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600"
        >
          Read more
        </a>
      </div>
    </div>
  </div>
</section>
