---
const services = [
  {
    name: 'Non Profit',
    description:
      'Women Aware of Rights Initiative (WAR NG) is a non-profit organization founded in 2018 to build a network of empowered women advocating for social justice and combating domestic violence in Kaduna State and across Nigeria. As a non-governmental, non-religious, and non-political organization, WAR NG is dedicated to creating enlightened, empowered, and just communities. The organization works to promote educational development, eradicate the ignorance that perpetuates domestic violence, empower women through skill acquisition, and provide free legal services and psychosocial support to survivors.',
  },
  {
    name: 'Support',
    description:
      'Through AFFEST’s financial support, WAR NG is able to focus on its three key areas: advocacy, justice, and women’s empowerment. With funding from AFFEST, WAR NG raises awareness and pushes for policies to protect women’s rights, provides legal services to domestic violence survivors, and offers empowerment programs that help women build skills for self-reliance and resilience in their communities.',
  },
  {
    name: 'Maintain',
    description:
      'As a young organization with AFFEST’s ongoing backing, WAR NG is committed to addressing Gender-Based Violence (GBV) and driving change for women in Nigeria. By supporting WAR NG, AFFEST is directly contributing to building safer, more equitable communities for women and girls in Northern Nigeria.',
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-12 sm:gap-16">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">What We Do</h2>
      <div class="grid gap-8 lg:grid-cols-2">
        {
          services.map((service) => (
            <div class="flex flex-col gap-12 rounded-3xl bg-green-500/10 px-6 py-8 dark:bg-primary-400/10">
              <div class="flex flex-col gap-4">
                <h3 class="text-xl font-medium">{service.name}</h3>
                <p class="text-base text-primary-950/70 dark:text-primary-200/70 sm:text-lg">
                  {service.description}
                </p>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
