<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-16">
      <img class="w-96" src="/assets/chongai/flyer.jpg" alt="Hero picture" />
      <div class="flex flex-col items-start gap-8 sm:gap-10">
        <div class="flex flex-col items-start gap-4 sm:gap-6">
          <h1 class="text-4xl font-medium tracking-tight sm:text-5xl lg:text-6xl">
            AFFEST 2025: The Chongai Soigné; Cheering on in Southern Colours.
          </h1>
          <p class="text-lg text-primary-950/70 sm:text-xl">
            This year, AFFEST takes a deliberate and dignified journey home, to the resilient and
            radiant heart of Southern Kaduna. “Chongai” is more than a word. It is identity. It is
            ancestry. It is a declaration of pride for anyone with Southern Kaduna roots. It
            reflects a people known for their hospitality, strength, creativity and rich cultural
            depth.
          </p>
        </div>
        <a
          href="/chongai"
          class="mt-4 inline-flex items-center justify-center rounded-full border border-transparent bg-green-600 px-5 py-3 text-base font-medium text-white transition hover:bg-green-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600"
        >
          Read more
        </a>
      </div>
    </div>
  </div>
</section>
